{
  "presets": [
    ["@babel/preset-env", { "modules": false }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-assign",
    "@babel/plugin-transform-runtime",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src"
      }
    }]
  ]
}